@tailwind base;
@tailwind components;
@tailwind utilities;


.App{
  font-family: 'Quicksand', sans-serif;
}

.banner{
  background-image: url('../images/banner.png');
}

.about-img{
  background-image: url('../images/plates.png');
}

.phones-img{
  background-image: url('../images/phones.png');
}

.cards{
  @apply hover:shadow-md hover:shadow-gray-200;
}

/* 
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... } 
*/
